<!DOCTYPE html>
<html>
<head>
  <title>Watcher</title>
</head>
  <div>
    <nav>
      <div class="logo">
        <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/watcher-198497.png" alt="Watcher" width="50" height="60">
      </div>
      <div class="titolo">
         <a href="#">Watcher</a>
      </div>
      <span class="material-icons">
menu
</span>
      <input type="checkbox" id="btn">
      <ul>
         <li><a href="#">Home</a></li>
         <li>

            <a routerLink="/trending" routerLinkActive="active">Trending</a>
            <input type="checkbox" id="btn-1">
         </li>
         <li>
            <a href="#">Services</a>
            <input type="checkbox" id="btn-2">

         </li>
         <li><a href="#">Portfolio</a></li>
         <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
   </nav>
  </div>


  <body>
    <router-outlet></router-outlet>
  </body>
</html>

