<!--
<form>
  <div class="imgcontainer">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button (click)= "back()" class="cancelbtn">Cancel</button>
  </div>
</form>
-->
<!DOCTYPE html>
<html>
  <head>
  </head>
  <div *ngIf = "!isAuthorized">
    <div class="login-box">
      <h1>Login Here</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" required #email>
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" (keydown.enter) = "submit(email,password)" required #password>

        <div *ngIf = "pwErr">
          <p>{{pwErr}}</p>
        </div>

        <input type="button" (click) = "submit(email,password)" value="Log In">
        <a href="#">Lost your Password?</a><br>
        <a href="/register">Don't have An account?</a>
      </form>
    </div>
  </div>
  <div *ngIf = "isAuthorized">
    <div>
      <p><b>Informazioni account:</b></p>
      <p>Nome: <span>{{results.nome}}</span></p>
      <p>Nome: <span>{{results.cognome}}</span></p>
      <p>Email: <span>{{results.email}}</span></p>
    </div>
  </div>
</html>
