footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  font-size: 14px;
}

#pageSearch {
  width: 50px;
  height: 34px;
  text-align: center;
}

.infoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  margin-bottom: 0px;
}
