img {
  padding: 10px;
  height: 200px;
  width: 340px;
}

img-responsive {
  margin: 0px;
}

.row {
  padding: 0px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.page-link {
  font-size: 14px;
}

#pageSearch {
  width: 50px;
  height: 34px;
  text-align: center;
}

.infoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  margin-bottom: 0px;
}

.content {
  padding: 10px;
}

.pagination-nav {
  height: 70px;
}

.thumbnail{
  background-color: black;
}

a {
  text-decoration: none;
  color: #e63946;
}

#rating {
  color: white;
}
