<div class="content" *ngIf="movieList">
    <div class="row">
       <div class="col-sm-6 col-md-4" *ngFor="let t of movieList.results">
          <div class="thumbnail">
             <div class="content">
                <a [routerLink]="['/movie', t.id]" routerLinkActive="active">
                  <img class="img-responsive" [src]="photoURL(t.poster_path)" alt="poster">
                </a>
                
                <div class="caption">
                   <h4>
                      <a [routerLink]="['/movie', t.id]" routerLinkActive="active">{{t.original_title}}</a>
                      <p>Average Rating: {{t.vote_average}}</p>
                   </h4>
                </div>
             </div>
          </div>
       </div>
    </div>
    <p class="infoPage">{{pages}} of 1000</p>
    <footer>
      <nav class="pagination-nav" aria-label="Page navigation">
         <ul class="pagination">
           <li class="page-item"><a class="page-link material-icons" (click)="changePage(1)">first_page</a></li>
           <li class="page-item"><a class="page-link material-icons" (click)="modPage(-1)">chevron_left</a></li>
           <li class="page-item"><input id="pageSearch"  #page class="page-link" (keydown.enter)="specificPage(page)" value={{pages}}></li>
           <li class="page-item"><a class="page-link material-icons" (click)="modPage(1)">chevron_right</a></li>
           <li class="page-item"><a class="page-link material-icons" (click)="changePage(1000)">last_page</a></li>
         </ul>
       </nav>
       
    </footer>
 </div>
