<div *ngIf="movieList">
    <div class="row">
       <div class="col-sm-6 col-md-4" *ngFor="let t of movieList.results">
          <div class="thumbnail">
             <div class="content">
                <img class="img-responsive" [src]="photoURL(t.poster_path)" alt="poster" height="250" width="500">
                <div class="caption">
                   <h4>
                      <a routerLink="/movie" routerLinkActive="active">{{t.original_title}}</a>
                      <p>Average Rating: {{t.vote_average}}</p>
                   </h4>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
