img {
  padding: 10px;
  height: 200px; 
  width: 340px;
}

img-responsive {
  margin: 0px;
}

.row {
  padding: 0px;
}

footer
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer
{
  font-size: 28px;
}

.page-link
{
  font-size: 14px;
}

#pageSearch {
  width: 50px;
  height: 34px;
  text-align: center;
}

.infoPage {
  display: block;
}