.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img
{
    height: 100%;
}


.info  
{
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.actors
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    overflow: auto;
    margin: 50px auto;
}

.actor
{
    height: 200%;
}

.actor img
{
    height: 200px;
}