.container
{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.img
{
    height: 100%;
    width: 200%;
}


.info  
{
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info h1
{
    font-size: 28px;
}

.info p
{
    font-size: 18px;
}

.actors
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    overflow: auto;
    margin: 50px auto;
}

.actor
{
    height: 200%;
}

.actor img
{
    height: 200px;
}